.news__title {
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 88px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 450px) {
    .news__title {
        font-size: 50px;
    }    
}
