.second-card__image {
    width: 468px;
}

@media screen and (max-width: 1100px) {
    .second-card__image {
        width: 340px;
        height: 100%;
    }    
}

@media screen and (max-width: 965px) {
    .second-card__image {
        width: 100%;
    }    
}