.one-news__image-container {
    width: 986px;
    position: relative;
}

.one-news__image-container::before {
    content: '';
    background-image: url(../../../../img/play.svg);
    height: 136px;
    width: 136px;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 35%;
    left: 44%;
}

@media screen and (max-width: 1000px) {
    .one-news__image-container {
        width: calc(100% - 40px)
    }    

    .one-news__image-container::before {
        height: 10vw;
        width: 10vw;
    }
}