.second-card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 274px;
    margin: 0 0 0 51px;
    max-width: 597px;
}

@media screen and (max-width: 1350px) {
    .second-card__text {
        max-width: 80%;
        margin: 0 0 0 15px;
    }    
}

@media screen and (max-width: 1100px) {
    .second-card__text {
        height: 200px;
    }    
}

@media screen and (max-width: 965px) {
    .second-card__text {
        margin: 20px 0 0;
        height: auto;
    }    
}

@media screen and (max-width: 600px) {
    .second-card__text {
        max-width: 100%;
    }    
}