section.comments
    .comments__width
        h2.comments__title Оставьте свой комментарий
        .comments__data 
            input.comments__name(type="text" placeholder="Имя")
            input.comments__email(type="email" placeholder="Email")
            button.comments__button-photo Прикрепить фото
        input.comments__comment(type="text" placeholder="Комментарий")
        button.comments__submit Отправить