footer.footer
    .footer__width
        .footer__top
            span.footer__subscribe Подписывайтесь на нас:
            ul.footer__links
                li.footer__link 
                    img.footer__social-media(src="../../img/YouTube.svg", alt="YouTube")
                li.footer__link 
                    img.footer__social-media(src="../../img/Facebook.svg", alt="Facebook")
                li.footer__link 
                    img.footer__social-media(src="../../img/вк.svg", alt="Вконтакте")
                li.footer__link 
                    img.footer__social-media(src="../../img/однокласники.svg", alt="Одноклассники")
                li.footer__link 
                    img.footer__social-media(src="../../img/instagram.svg", alt="Instagram")
        .footer__bottom 
            .footer__project-info
                span.footer__typographic &copy; 2021 «Златоустовское телевидение»
                a.footer__confidentiality(href="#") Политика конфиденциальности
            img.footer__logo(src="../../img/logo.svg", alt="Логотип")