header.header
    .header__width 
        .header__nav-bar
            button.header__offer-news Предложить новость
            ul.header__nav-items
                li.header__nav-item Новости
                li.header__nav-item Телепроекты
                li.header__nav-item Реклама
                li.header__nav-item Онлайн
                    img.header__nav-icon(src="../../img/arrowDown.svg", alt="Стрелка вниз")
                li.header__nav-item Программа передач
                li.header__nav-item Еще
                    img.header__nav-icon(src="../../img/arrowDown.svg", alt="Стрелка вниз")
        .header__contacts 
            .header__tel-and-search 
                span.header__tel 8 (3513) 65-17-11
                button.header__search
            .header__links-group
                span.header__subscribe Подписывайтесь на нас:
                ul.header__links 
                    li.header__link 
                        img.header__social-media(src="../../img/YouTube.svg", alt="YouTube")
                    li.header__link 
                        img.header__social-media(src="../../img/Facebook.svg", alt="Facebook")
                    li.header__link 
                        img.header__social-media(src="../../img/вк.svg", alt="Вконтакте")
                    li.header__link 
                        img.header__social-media(src="../../img/однокласники.svg", alt="Одноклассники")
                    li.header__link 
                        img.header__social-media(src="../../img/instagram.svg", alt="Instagram")
