.header__link {
    margin: 0 16px 0 0;
    cursor: pointer;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.header__link:first-of-type {
    margin: 0 16px 0 48px;
}

.header__link:last-of-type {
    margin: 0;
}

.header__link:hover {
    opacity: .6;
}

@media screen and (max-width: 550px) {
    .header__link:first-of-type {
        margin: 0 16px 0 0;
    }    
}