.news__calendar {
    padding: 0 0 0 64px;
    margin: 0;
    width: 468px;
    height: 60px;
    border: 2px solid #373334;
    background-image: url(../../../../img/calendar.svg) no-repeat 24px 45%,
    url(../../../../img/arrowDown.svg) no-repeat 94.45% center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    box-sizing: border-box;
    cursor: pointer;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.news__calendar:hover {
    opacity: .6;
}

@media screen and (max-width: 1030px) {
    .news__calendar {
        max-width: 468px;
        width: 90vw;
    }    
}