.one-news__link {
    margin: 14px 16px 0 0;
    height: 16px;
    width: 16px;
    transition-duration: .3s;
    transition-timing-function: ease;
    cursor: pointer;
    
}

.one-news__link:last-of-type {
    margin: 14px 0 0 0;
}


.one-news__link:hover {
    opacity: .6;
}